<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>OTP Email</title>
</head>
<body>
  <h1>OTP Email</h1>
  <p>Hello <%= name %>,</p>
  <p>Your OTP code is: <%= generateOTP %></p>
  <p>Please use this code to verify your account.</p>
</body>
</html>